<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="container">

    <div class="col-md-6 col-md-offset-3">

        <h1>Login page</h1>

        <p>Example administrator: jim@mail.pl / a</p>

        <p>Example user: bob@mail.pl / a</p>

        <p>Example user and administrator: ted@mail.pl / a</p>

        <div class="alert alert-danger" role="alert"
             th:if="${loginError}">Wrong user or password
        </div>

        <div class="alert alert-success" role="alert" id="logout"
             th:if="${(param.logout != null) and (param.logout[0] == 'true')}">
            Poprawnie wylogowałeś się
        </div>


        <form class="form-signin" th:action="@{/j_spring_security_check}" method="post">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="j_username">Username</label>:
            <input type="email" class="form-control" placeholder="Email address" required="true" autofocus="autofocus"
                   id="j_username" name="j_username" value="bob@mail.pl"/> <br/>
            <label for="j_password">Password</label>:
            <input type="password" class="form-control" placeholder="Password" required="true"
                   id="j_password" name="j_password" value="a"/> <br/>
            <button class="btn btn-lg btn-primary btn-block" type="submit"> Log in</button>
        </form>
    </div>
</div>
<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
