<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <!-- Authentication using a memory user list -->
    <authentication-manager alias="authenticationManager">
        <authentication-provider>
            <user-service>
                <user name="jim@mail.pl" password="a" authorities="ROLE_ADMIN" />
                <user name="bob@mail.pl" password="a" authorities="ROLE_USER" />
                <user name="ted@mail.pl" password="a" authorities="ROLE_USER, ROLE_ADMIN" />
            </user-service>
        </authentication-provider>
    </authentication-manager>

    <http pattern="/login.html" security="none" />
    <!--<http pattern="/*" security="none" />-->
    <http pattern="/css/**" security="none" />
    <http pattern="/js/**" security="none" />
    <!--<http pattern="/rest/**" security="none" />-->
    <http auto-config="true" use-expressions="true">
        <!-- Login pages -->
        <form-login login-page="/login.html" authentication-failure-url="/login.html"  />
        <logout logout-url="/logout" logout-success-url="/login.html?logout=true"/>
        <!-- Security zones -->
        <intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
        <!--<intercept-url pattern="/user/**" access="hasRole('ROLE_USER')" />-->
        <!--<intercept-url pattern="/shared/**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />-->
    </http>

</beans:beans>